<div class="container" id="criar-cliente-page">
  <form>
    <div class="row">
      <div class="col-md-3">
        <div class="my-3">
          <label class="form-group">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"
            [ngModelOptions]="{ standalone: true }" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="my-3">
          <label class="form-group">CPF</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf"
            [ngModelOptions]="{ standalone: true }" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="my-3">
          <label class="form-group">E-mail</label>
          <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email"
            [ngModelOptions]="{ standalone: true }" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="my-3">
          <label class="form-group" for="estado">Estado:</label>
          <select class="form-control" name="estado" (change)="onChangeEstado($event.target)">
            <option value="">Selecione um estado</option>
            <option *ngFor="let item of estados" [ngValue]="item.sigla" #estadosOpt>
              {{ item.sigla }}
            </option>
          </select>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="my-3">
          <label class="form-group" for="cidade">Cidade:</label>
          <select class="form-control" name="cidade" placeholder="Selecione uma cidade">
            <option value="">Selecione uma cidade</option>
            <option *ngFor="let item of cidades" [value]="item.nome">{{ item.nome }}</option>
          </select>
        </div>
      </div> -->

      <div class="col-md-3">
        <div class="my-3">
          <label class="form-group">Nacionalidade:</label>
          <select class="form-control" name="tipo">
            <option value="">Selecione um Pais</option>
            <option *ngFor="let item of paises" [value]="item">{{ item}}</option>
          </select>
        </div>
      </div>
    </div>

    <button (click)="create()" type="button" class="btn btn-success mat-elevation-z8" color="success">
      CRIAR
    </button>
  </form>
</div>